<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body style="background-color: rgb(119, 104, 252)">
    <h1>Hello World!</h1>

<form action="/submitform" method="POST">
    <label for="fnamein">First Name:</label><br>
    <input type="text" id="fnamein" name="fnamein"></br><br>

    <label for="lnamein">Last Name:</label></br>
    <input type="text" id="lnamein" name="lnamein"></br><br>

    <label for="emailin">E-mail Address:</label></br>
    <input type="text" id="emailin" name="emailin"></br><br>

    <label for="itemin">Item Name:</label></br>
    <input type="text" id="itemin" name="itemin"></br><br>

    <input type="file" name="filenamein">

    <!-- <button id="uploadbtn">Upload Item</button><br><br> -->
    <br><br>
    <br><br>


    <input type="submit" value="Submit All">

</form>

    
</body> 
</html>